*~
debian/files
debian/libnfcdef
debian/libnfcdef-dev
debian/*.debhelper.log
debian/*.debhelper
debian/*.install
debian/*.substvars
debian/tmp
documentation.list
installroot
build
RPMS
unit/coverage/*.gcov
unit/coverage/report
